
.navbar-brand img {
    width: 170%;
    transition: transform 0.3s ease-in-out; 
    animation: glowing 2s infinite; 
  }
  
  .navbar-brand img:hover {
    transform: scale(1.1);
  }

  

  .dropdown button {
    background-color: #ffc107; 
    color: #333;
    border: none;
    border-radius: 50px; 
    padding: 10px 20px;
    font-size: 1rem;
    transition: all 0.3s ease-in-out; 
  }
  
  .dropdown button:hover {
    background-color: #ffdd57; 
  }

  .dropdown-menu {
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para el menú */
  }